.details {
  max-height: 200px;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.summary {
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 10px;
}

.contenido {
  padding: 10px;
}

